html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: 3em auto auto auto;
  background-color: #e2e2e2;
}

header h1 {
  font-family: sans-serif;
}

h1 + img {
  order: -1;
}

header img {
  width: 2em;
  height: 2em;
  margin: .5em .5rem;
}

header p {
  font-size: 1.125rem;
  padding: 1em;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  justify-content: center;
  color: #0074d9;
}

nav a:hover {
  color: #fff;
}
